<!doctype html>
<html lang="en">
  <head>
    <title>Contact Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/contact">Contact</a>
          </div>
        </div>

      </nav>
      <!-- Navbar End -->
    </div>

    <div class="container">
      <div class="jumbotron text-center mb-0" style="min-height: 85vh;">
        <h1>Mohammad Moin Uddin</h1>
  
        <div class="col-md-6 offset-md-3">
          <div id="accordion">
  
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Gmail
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <a href="mailto:mmoin.official@gmail.com" class="btn btn-success">mmoin.official@gmail.com</a>
                </div>
              </div>
            </div>
  
  
            <div class="card my-2">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    LinkedIn
                  </button>
                </h5>
              </div>
  
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <a href="https://www.linkedin.com/in/mmoinuddin26/" target="_blank" class="btn btn-success">Mohammad Moin Uddin</a>
                </div>
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Mobile
                  </button>
                </h5>
              </div>
              
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <a href="tel:+8801571120010" class="btn btn-success">+880 1571 120010</a>
                </div>
              </div>
            </div>
  
  
          </div>
        </div>
  
      </div>
    </div>

    <div class="container">
      <footer class="bg-dark text-center p-3">
        <p class="text-light mb-0">All Rights Reserved By &copy; <a href="https://www.linkedin.com/in/mmoinuddin26/" target="_blank" class="text-light">Mohammad Moin Uddin</a></p>
      </footer>
    </div>
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>