<%- include('./partials/header.ejs') %>

    <div class="container">
      <div class="jumbotron text-center mb-0" style="min-height: 85vh;">
        <h1>Mohammad Moin Uddin</h1>
  
        <div class="col-md-6 offset-md-3">
          <div id="accordion">
  
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Gmail
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <a href="mailto:mmoin.official@gmail.com" class="btn btn-success">mmoin.official@gmail.com</a>
                </div>
              </div>
            </div>
  
  
            <div class="card my-2">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    LinkedIn
                  </button>
                </h5>
              </div>
  
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <a href="https://www.linkedin.com/in/mmoinuddin26/" target="_blank" class="btn btn-success">Mohammad Moin Uddin</a>
                </div>
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Mobile
                  </button>
                </h5>
              </div>
              
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <a href="tel:+8801571120010" class="btn btn-success">+880 1571 120010</a>
                </div>
              </div>
            </div>
  
  
          </div>
        </div>
  
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>

