<%- include('./partials/header.ejs') %>

    <div class="container">
      <div class="jumbotron text-center mb-0" style="min-height: 85vh;">
        <form action="/" method="post">

          <div class="col-md-4 offset-md-4 mb-3">
            <div class="input-group">
              <input type="text" name="pLanguage" placeholder="Programming Language" class="form-control border-success py-4">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Add</button>
              </div>
            </div>
          </div>

          <div class="col-md-4 offset-md-4">
            <ul class="list-group">
              <% if(plNames.length > 0) { %>
                <% for(let x = 0; x < plNames.length; x++) { %>
                  <li class="list-group-item text-success list-group-item-action border-success mb-1"> <%= plNames[x] %> </li>
                <% } %>
              <% } else { %>
                <li class="list-group-item list-group-item-danger border-danger">No Data Found</li>
              <% } %>
            </ul>
          </div>

        </form>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>  